<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>

  </head>

  <body>
    <div id="content">
         <h1 id="title_ma">Music App</h1>

    <% if logged_in? %>
      <h2>Logged in as: <%= current_user.email %></h2>
      <form action="<% session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Log Out" />
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Log In</a>
      <a href="<%= new_user_url %>">Sign Up</a>
    <% end%>

    <%= yield %>

    
    </div>
     
  </body>
</html>
